.ChatList{
    flex: 1;
    height: 98%;
    margin: 8px 8px;
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    background:rgba(0, 0, 0, 0.64);
    border: 2px solid rgb(87, 86, 86);
    border-radius: 10px;
   
}

@media screen and (min-width:720px){
    .ChatList{
        display: flex !important;
        width: 30% !important;
    }
}