.imagepreview {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 90px;
}

.imagepreview img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center; 
}
#btom{
    background:transparent;
}
.icons button{
   background:transparent;
   border: 0;
   color: white;
}


.imagepreview button{
    position: absolute;
}